body {
    align-content: center;
    text-align: center;
    background-color: aquamarine;
}

.logo {
    height: 40px;
    width: 40px;
}

.alpha {
    width: 50px;
    height: 50px;
    margin-bottom: 2px;
    font-weight: bold;
}

.alphabets-area {
    padding: 5px 2% 5px 2%
}

.btn-green {
    background-color: green;
}

.btn-red {
    background-color: red;
}

.btn-blue {
    background-color: blue;
}

.btn-orange {
    background-color: orange;
}

.btn-yellow {
    background-color: yellow;
}

.btn-purple {
    background-color: purple;
}

.quiz-type {
    height: 60px;
    width: 70px;
    background-color: burlywood;
    font-weight: bold;
}

#question-area {
    width: 7rem;
    height: 7rem;
    margin: auto;
    margin-top: 3%;
}

#msg {
    font-size: 30px;
    font-weight: 900;
    color: blue;
}

#display-pic {
    width: 7rem;
}

#backspace {
    width: 45px;
}

.score-area {
    font-size: 20px;
    font-weight: 100;
    color: darkgreen;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    .alphabets-area {
        padding: 10px 15% 10px 15%
    }
}

/* Media query: laptops and desktops (992px and up) */
@media screen and (min-width: 992px) {

    .alphabets-area {
        padding: 10px 25% 10px 25%
    }
}